<div class="questionitem">
    <div class="title" routerLink="/questions/{{questionItem.id}}/details">{{ questionItem.title }}</div>
    <div class="description">{{ questionItem.description }}</div>
    <div class="tags">{{ questionItem.tags }} </div>
    <div class="questionbottom">
      <div class="publishdate">Created on: {{ questionItem.publishdate | date }}</div>
      <div class="user">{{ questionItem.askedby }} </div>
      <div class="answercount">{{ questionItem.answercount }} answers</div>
      <div class="votes">{{ questionItem.votes }} votes</div>
    </div>
</div>