.questionitem{
    position: relative;
    background-color: beige;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}
.questionbottom{
    display: flex
}
.user{
    flex:1
}
.answercount{
    flex:1
}
.publishdate{
    flex:1
}
.votes{
    flex:1
}
.title{
    font-size: 14px;
    font-weight: bold;
}
.description{
    border-radius: 4px;
    border: 1px solid black;
    height: 60%;
}
.title:hover{
    text-decoration: underline;
}