<h2>Question Details</h2>
<div>Title: {{question.title}}</div>
<div>description: {{question.description}}</div>
<div>tags: {{question.tags}}</div>
<div>publishdate: {{question.publishdate}}</div>
<div>username: {{question.username}}</div>
<div>votes: {{question.votes}}</div>
<div>views: {{question.views}}</div>
<div>Comments:
    <comment-item *ngFor="let comment of question.comments"
        [comment]="comment">
    </comment-item>
</div>
<div>Answers:
    <answer-item *ngFor="let answer of question.answers"
        [answer]="answer">
    </answer-item>
</div>